    @model AddCommentViewModel
    @using (Html.BeginForm("Comment", "AddComment", FormMethod.Post))
    {
        <h3>Create new comment: </h3>
        @Html.TextAreaFor(m => m.Content,
                        new {
                            cols = 50,
                            rows = 12,
                            @style="resize:none",
                            @maxlength="50"
                        }) 
    }

    <form method="post" asp-controller="Comment" asp-action="AddComment">

    <button type="submit" class=" btn btn-primary">Add</button>
</form>