    @model CreateEditCommentViewModel
@*    @using (Html.BeginForm("Comment", "AddComment", FormMethod.Post))
    {
    <h3>Create new comment: </h3>
    @Html.TextAreaFor(m => m.Content,
    new {
    cols = 50,
    rows = 12,
    @style="resize:none",
    @maxlength="50"
    })
    }

*@
   @if (Model != null && (UserManager.GetUserId(User) == Model.AuthorId || Model.AuthorId == null))
{
    <p style="font-weight: bold; font-size: large;">@(Model.CommentId == 0 ? "Add new comment" : "Edit your comment")</p>

    <form method="post" asp-controller="Comment" asp-action="CreateEditComment">

        <input asp-for="CommentId" hidden />
        <input asp-for="BlogpostId" hidden />
        <input asp-for="CreationDate" hidden />
        <div class="form-group mb-2">
            <label asp-for="Content" hidden></label>
            <textarea asp-for="Content" rows="5" style="resize:none" class="form-control" maxlength="500"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <button type="submit" class=" btn btn-primary m-1">@(Model.CommentId == 0 ? "Create" : "Edit")</button>
            <a class="btn btn-danger m-1" asp-controller="BlogDetail" asp-action="Index" asp-route-id="@Model.BlogpostId">Cancel</a>

    </form>
}
else
{
    <div>ERROR 001 -- U can't acces this page!</div>
}
