/*
.nav-link:hover {
    background-color: #525252 !important
}

.nav-link .fa {
    transition: all 1s
}

.nav-link:hover .fa {
    transform: rotate(360deg)
}*/

body {
    background-color: #9db1af;

}

card {
    background-color: #d1dedf;
}
h1{
    font-size:2rem;
}
.sidenav {
    height: 100vh;
    width: 13%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #316372;
    overflow-x: hidden;
    padding-top: 4rem;
    padding-left: 1rem;
}

    .sidenav a {
        text-decoration: none;
        font-size: 1rem;

        color: #adb5bd;
      
       
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }



/*.img-side {
    border-radius: 50%;
   
   
    max-width: 77%;
    max-height: 16%;
    margin-left: auto;
    margin-right: auto;
}*/

.text-side {
    color: #adb5bd;
    display: block;
    font-size: 1rem;
    margin-left: 6%;
    height:1%;
    
    
}
    .text-side a:hover {
        color: #f1f1f1;
    }

/*.margin-site{
    margin-left:5rem;
}*/

.ul-side {
    list-style: none;
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-top: 60px;
   /* margin-left: 10px;*/
}

    .ul-side li img {
        border-radius: 50%;
      width: 110px;
      height: 110px;
      margin-left: 10px;
       
      
    }

.sidenav li:first-child {
    height: 120px;
    width: 100%;
    margin-bottom: 30px;
   
   
}




@media (max-width:770px) {
    .container {
        justify-content: center;
        margin-left: 1%;
        padding-right: 16px;
        width: 75%;
    }
    h1.col-6 {
        margin-left: 21% !important;
    }
   /* .container.nav-i {

        visibility:hidden;
    }*/
   body{
       font-size:0.9rem;
   }
   /* .navbar-hide {
        visibility: hidden;
    }*/
    h1{
        font-size:1.5rem;
    }

    main{
        align-self:center;
    }
    .author-img {
        border-radius: 50%;
        width: 75px !important;
        height: 75px !important;
        margin-left: 95px !important;
    }

    .ul-side li img {
        width: 90px;
        height: 90px;
        margin-left: 10px !important;
    }

    h1.col-6 {
        margin-left: 15% !important;
    }
   /* .btn{
       
        font-size:0.75rem !important;
        
    }*/
    /*.btn-pimped{
        padding:1px !important;
    }*/

  .btn.b{
        font-size:0.7rem !important;
        padding:4px;
        
    }

    .btn-t {
       /* width: 40px !important;
        margin-left: 10px;*/
        font-size: 0.7rem !important;
        padding: 4px;
    }
}

@media (max-width: 1350px){

    .container {
        justify-content: center;
        margin-left: 10%;
        padding-right: 16px;
        width: 90%;
       
    }

    h1.col-6 {
        margin-left: 17% !important;
    }
    .ul-side {
       
        margin-left: -35px;
    }

        .ul-side li img {
            width: 90px;
            height: 90px;
            margin-left: 10px !important;
        }

        a.text-side{
            font-size:0.7rem;
        }
           .text-side{
               font-size:0.8rem;
           }
          .navbar-hide{
              margin-left:90px;
          }

    .author-img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin-left: 250px !important;
    }
}

@media (max-width: 1000px) {

    .container{
width:60%;
    }

    .ul-side li img {
        width: 60px !important;
        height: 60px !important;
        margin-left: 1px !important;
    }



    .author-img {
        /* border-radius: 50%;*/
        width: 85px !important;
        height: 85px !important;
        margin-left: 100px !important;
    }
    .navbar-brand {
        font-size: 0.90rem;
    }
    body{
       font-size:0.8rem;
    }
    .nav-link.btn{
        font-size:0.8rem
    }
   
}

@media (max-width: 1600px) {

    .container {
       width:40%;
    }

    .navbar-hide {
        max-width: 100%;
    }
    .ul-side li img {
        width: 80px;
        height: 80px;
        margin-left: 30px;
    }
    .author-img {
        border-radius: 50%;
        width: 95px;
        height: 95px;
        margin-left: 350px;
    }

    .ul-side {
        margin-left: -35px;
    }
}

@media (max-width: 2000px) {

    .container {
        justify-content: center;
        margin-left: 7%;
        padding-right: 16px;
        width: 90%;
    }

    .navbar-hide {
        margin-left: 90px;
    }

    main {
        margin-left:15%;
    }
    .author-img {
        border-radius: 50%;
        width: 95px;
        height: 95px;
        margin-left: 350px;
    }
}


@media (max-width: 2200px) {



    .author-img {
        border-radius: 50%;
        width: 95px;
        height: 95px;
        margin-left:  375px;
    }
}




.w{
    margin-left:35%
}


.author-text{
    margin-top:50px;
}


.nav-bar {
    border-width: 0px 0px 3px 1px !important;
}



.ul-buttons {
    display: flex;
    list-style: none;
    /* margin-left: 100px;*/
    gap: 10px;
    justify-content: center;
    margin-right: 2rem;
}

